<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>

    <link rel="stylesheet" href="https://unpkg.com/grapesjs@0.17.3/dist/css/grapes.min.css">

    <script src="https://unpkg.com/grapesjs@0.17.3/dist/grapes.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/grapesjs-navbar@0.1.5/dist/grapesjs-navbar.min.js"></script>
    <script src="https://unpkg.com/grapesjs-plugin-export@1.0.7/dist/grapesjs-plugin-export.min.js"></script>
    <script src='{{"/js/grapesjs-plugin-ckeditor/grapesjs-plugin-ckeditor.min.js"  | prepend: site.baseurl }}'></script>



</head>
<body>

<div id="gjs"></div>

<script type="text/javascript">
    var editor = grapesjs.init({
        container : '#gjs',
        plugins: ['gjs-navbar','grapesjs-plugin-export'],
        pluginsOpts: {
            'gjs-navbar': {/* ...options */},
            'grapesjs-plugin-export': { /* options */ }
        }
    });
</script>

</body>
</html>
